@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97), #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
body {
  background: linear-gradient(97deg, rgba(255, 255, 255, 0.08) 0%, rgba(51, 97, 184, 0.08) 48.96%, rgba(221, 85, 75, 0.08) 100%);
}

.container {
  max-width: 1180px;
}

:root {
  --orange: #FF5B27;
  --black: #1D1F23;
  --gray: #949494;
  --light-gray: #F1F1F1;
  --white: #FFf;
}

.mobile-menu-board {
  width: 30px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mobile-menu-board span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #033862;
  position: relative;
}
.mobile-menu-board span:last-child {
  margin: 0;
}
.mobile-menu-board span:nth-of-type(1) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}
.mobile-menu-board span:nth-of-type(2) {
  opacity: 1;
}
.mobile-menu-board span:nth-of-type(3) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}

.mobile-menu-board.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}
.mobile-menu-board.active span:nth-of-type(2) {
  opacity: 0;
}
.mobile-menu-board.active span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -10px;
}

@media (max-width: 992px) {
  .mobile-menu-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #033862;
    margin-left: 10px;
  }
}
.menu {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  transition: 0.3s;
}
.menu.active .menu-container {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(18px);
  border-radius: 0 0 20px 20px;
}
@media (max-width: 1100px) {
  .menu-logo {
    margin-right: 2rem !important;
  }
}
@media (max-width: 1024px) {
  .menu-logo {
    margin-right: 1.7rem !important;
  }
}
@media (max-width: 425px) {
  .menu-logo {
    transform: scale(0.8);
    margin: 0 !important;
    position: relative;
    left: -20px;
  }
}
@media (max-width: 1100px) {
  .menu-items a {
    margin-right: 0.9375rem !important;
  }
  .menu-items a:last-child {
    margin-right: 0 !important;
  }
}
@media (max-width: 992px) {
  .menu-items a {
    display: none;
  }
}
@media (max-width: 1100px) {
  .menu-items-image {
    margin-left: 0 !important;
  }
}
@media (max-width: 1100px) {
  .menu-items-image a {
    margin: 0 3px !important;
  }
}
@media (max-width: 1100px) {
  .menu-flags {
    margin-left: 2rem !important;
  }
}
@media (max-width: 1024px) {
  .menu-flags {
    margin-left: 1.7rem !important;
  }
}
@media (max-width: 425px) {
  .menu-flags {
    margin-left: 0 !important;
  }
}
@media (max-width: 576px) {
  .menu-flags .flag-text {
    display: none !important;
  }
}
@media (max-width: 380px) {
  .menu-flags a {
    display: none;
  }
}
.menu-flags a img {
  width: 30px;
  height: 25px;
}
@media (max-width: 576px) {
  .menu-flags a img {
    width: 24px;
    height: 20px;
  }
}
.menu-flags.active a {
  display: none !important;
}
.menu-items-mobile {
  position: absolute;
  left: 0;
  top: 105%;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  background: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.3s linear;
}
.menu-items-mobile.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header {
  height: 440px;
  background: url(../images/header-bg.png) no-repeat top right;
  background-size: cover;
  width: 100%;
  margin-top: 100px;
  border-radius: 20px;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .header {
    height: 600px;
    background: url(../images/header-bg-media.png) no-repeat center;
  }
}
@media (max-width: 576px) {
  .header {
    height: 600px;
    padding-top: 24px;
    background-size: cover;
  }
}
@media (max-width: 425px) {
  .header {
    height: 550px;
    background-size: cover;
  }
}
.header-title {
  margin: 0 0 0 64px;
  border-left: 2px solid rgba(255, 255, 255, 0.53);
  padding: 26px 0 26px 35px;
  z-index: 1;
  max-width: 520px;
  width: 100%;
}
@media (max-width: 576px) {
  .header-title {
    margin: 0 0 0 24px;
    padding: 10px 0 10px 16px;
    max-width: 400px;
  }
}
@media (max-width: 425px) {
  .header-title {
    max-width: 300px;
  }
}
.header-title h1 {
  color: #FFF;
  font-size: 27px;
  font-weight: 700;
  line-height: 36px; /* 133.333% */
}
@media (max-width: 576px) {
  .header-title h1 {
    font-size: 15px;
  }
}
.header-title p {
  color: #FFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  max-width: 420px;
  width: 100%;
  opacity: 0.8;
}
@media (max-width: 576px) {
  .header-title p {
    font-size: 13px;
    max-width: 350px;
  }
}
@media (max-width: 425px) {
  .header-title p {
    font-size: 13px;
    max-width: 280px;
  }
}

.news {
  margin-top: 64px;
}
.news-title h2 {
  color: #033862;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .news-title h2 {
    font-size: 20px;
  }
}
.news-title button {
  border-radius: 6px;
  background: rgba(3, 56, 98, 0.1);
  max-width: 132px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.news-title button span {
  color: #033862;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  z-index: 1;
}
.news-title button i {
  color: #033862;
}
.news-box {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: left;
  align-items: end;
  border-radius: 12px;
  overflow: hidden;
}
.news-box-text {
  background: linear-gradient(180deg, rgba(3, 56, 98, 0) 0%, #033862 100%);
  padding: 0 0 0 20px;
  width: 100%;
}
.news-box-text .data {
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  opacity: 0.8;
}
.news-box-text p {
  color: #FFF;
  text-overflow: ellipsis;
  font-size: 17px;
  font-weight: 600;
  max-width: 100%;
  line-height: 24px; /* 141.176% */
}

.migrant {
  margin-top: 70px;
}
.migrant-iphone-image {
  position: absolute;
  right: -10px;
  top: 20px;
}
.migrant-white-box {
  max-width: 900px;
  width: 100%;
  background: #FFF;
  box-shadow: 0 0 16px 0 rgba(3, 56, 98, 0.1);
  padding: 48px 0 50px 48px;
  border-radius: 25px;
}
.migrant-white-box-texts {
  margin-top: 2.125rem;
}
.migrant-white-box-texts h2 {
  color: #033862;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.45px;
  margin-bottom: 22px;
}
.migrant-white-box-texts ul {
  margin: 0;
  padding-left: 1.1rem;
  max-width: 480px;
  width: 100%;
}
.migrant-white-box-texts ul li {
  color: #033862;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px; /* 160% */
  margin-bottom: 5px;
}
.migrant-white-box-shtrix {
  margin-top: 59px;
}
.migrant-white-box-shtrix span {
  color: #717F8A;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}
@media (max-width: 576px) {
  .migrant-white-box-shtrix {
    display: none;
  }
}
.migrant-white-box-application {
  display: none;
}
@media (max-width: 576px) {
  .migrant-white-box-application {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
